
@font-face {
   font-family: recklessneue;
src: url(./Assets/Font/RecklessNeue-Regular.ttf);
}

* {
 margin: 0;
 font-size: 62.5%;
 padding: 0;
 font-family: recklessneue;
 box-sizing: border-box;

}

body {
 margin: 0;
 width: 100%;
 viewport-fit: initial;
}

.container {
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

}

.main-container {
 max-width: 1500px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}


